

 <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    <script src="../../Scripts/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.core.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.accordion.js" type="text/javascript"></script>
    
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Inputscss/buttons.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
      $(function () {
          $("#accordion").accordion({
              active: false,
              collapsible:true,
              alwaysOpen: false,
              autoHeight:false
          });
      });
      
  </script>

</head>
<body>
    
 
     
<div id="accordion" class=hello>

	<h3>Sponsor Access Management</h3>
	<div>
		<p>
		
		     @{
                 Html.RenderAction("IndexGet", "SponsorAccessManagement");
                 }
        
		</p>
	</div>
	<h3>Study Access Management</h3>
	<div>
		<p>
        @using (Html.BeginForm("Allow_DenyStudy", "StudyAccessManagement", FormMethod.Post, new { id = "Permission" }))
        {
		     
                 Html.RenderAction("GetStudy", "StudyAccessManagement");
             
        }
		</p>
	</div>
	
</div> 
</body>
</html>