@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>
<h2>Welcome to Admin Area of Study Based Application </h2>

<h3> Please use the left navigation bar to access the contents you want to edit</h3>


</center>
