@{
    ViewBag.Title = "Index";
}
<center>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Welcome To Study Based Application</h2>

<h3>The Study Based Application focuses on providing the end customer a detailed view of the study details, 
for both Agroscience and Pharma verticals, outside the Eurofins network(i.e the internet). Customers will be
able to login and keep track of the Studies & Activities status 
</h3></center>